---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SeccionRenderer from '../components/SeccionRenderer.astro';
import { business } from '../config';
---

<Layout>
  <Header />
  <main>
    {business.estructura.orden.map((seccion) => (
      <SeccionRenderer seccion={seccion} variantes={business.estructura.variantes} />
    ))}
  </main>
  <Footer />
</Layout>
