---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Paquete from '../components/Paquete.astro';
import TrabajosLanding from '../components/TrabajosLanding.astro';
import TrabajosCustom from '../components/TrabajosCustom.astro';
import Proceso from '../components/Proceso.astro';
import FAQ from '../components/FAQ.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Paquete />
    <TrabajosLanding />
    <TrabajosCustom />
    <Proceso />
    <FAQ />
    <Contacto />
  </main>
  <Footer />
</Layout>
